/* variables for repeated colors */
:root{
    --blue:rgb(162, 216, 229);
    --orange: rgb(230, 128, 91);
}

/* page reset and webpage general format */
* { 
    box-sizing: border-box;
}

body {
    margin:0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1;
    min-height: 100vw;
    background-color: black;
    font-family: Aboreto;
}

img {
    max-width: 100%;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color:black;
}

/* Header format */
header {
    line-height: 40%;
    max-height: 750px;
}

/* Nav bar format */
nav {
    display: flex;
    background-color: var(--orange);
    align-items: center;
    min-height: 3em;
    justify-content: center;
    gap:30px;
    padding: 2%;
    width:100%;
    font-family: Aboreto;
    font-weight: bolder;
}

.navlink:hover {
    transform:scale(1.05);
    font-weight: bold;
}

/* hero section */
.hero {
    font-family: Aboreto, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px;
    background-image: url(../images/Copy-ales-nesetril-Im7lZjxeLhg-unsplash.jpg);
    background-size: cover;
}

.title {
    flex: 1 0 50%;
    color:var(--blue);
    font-size: 3rem;
    font-family: raleway;
}

.my-name {
    color: var(--orange);
    font-weight: 4px;
}

.subtitle {
    flex:1;
    color: var(--blue);
    font: 3rem;
}

.headertext {
    flex:1;
    padding: 10% 0;
    color:white;
    font: 4rem;
}

/* Section headers */
.headers {
    flex:1;
    font-size:1.5em;
    text-align: center;
    font-weight: bolder;
    width: 100px;
    border-right:var(--blue);
}

/* About Me Section */
.AboutMe {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2% 3%;
    margin:2% 0;
    background-color:var(--orange);
}

.my-info {
    flex: 4;
    line-height: 2.5rem;
    padding: 3%;
    font-size: 1rem;
}

.my-picture {
    flex: 0;
    max-width: 15%;
    border-radius: 50%;
    border: black thin solid;
}

/* My Work section */
.Work {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0% 5%;
    min-height: 400px;
    background-color: var(--blue);
}

.cards {
    margin: 4% 5rem;
    flex: 5;
    display: flex;
    flex-wrap: wrap;
    gap:5%;
    align-items: center;
    justify-content:space-between;
}

.workcard{
    flex: 1;
    flex-basis: 40%;
    margin: 1% 0;
    border: var(--orange) thin solid;
    background-size: cover;
    min-width:350px;
    height:250px;
    color:black;
}

/* Text inside the workcards */
.projects {
    background: rgba(255, 243, 243, 0.767);
    width: fit-content;
    border:solid thin var(--orange);
}

.projects:hover {
    cursor:pointer;
}

.front-end {
    background-image: url(../images/HomeHub-Logo.png);
    flex: 2 1 100%;
    max-height: 300px;
}

.back-end{
    background-image: url(../images/NightOwl-Home.html.png);
    max-width: 30%;
    max-height: 300px;
}

.DataBase {
    background-image: url(../images/ian-battaglia-9drS5E_Rguc-unsplash.jpg);
}

.WebApp {
    background-image:url(../images/tetiana-shyshkina-1_p9pYF-Lao-unsplash.jpg);
}

.WebAppNew {
    background-image: url(../images/fili-santillan-qp51FQhBnS0-unsplash.jpg);
}

.workcard:hover {
    border:thick solid var(--orange);
    transform:scale(1.05);
}

/* Contact Me Footer */
.ContactMe {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    padding: 0 3%;
    margin: 2% 0;
    background-color: var(--orange);
    margin: 2% 0;
}

.contactinfo {
    flex: 4;
    color:black;
    line-height: 2.5rem;
    padding: 3% 5%;
    display:flex;
    flex-wrap: wrap;
}

.info {
    flex: 1 1 50%;
}

.contactinfo img{
    height:20px;
    margin-right:10px;
}

/* Responsive Media Queries  */
@media screen and (max-width: 1097px) {
    .hero{
        padding: 20px;
        line-height: 3rem;
        gap:3rem;
        font-size: 60%;
        background-image: url(../images/Mini-hero.jpg);
    }
    
    .contactinfo {
        flex-direction: column;
    }
  }

@media screen and (max-width: 768px) {
    .cards,
    .AboutMe,
    .Work,
    .ContactMe {
      flex-direction: column;
    }

    .title {
        font-size: 2rem;
    }

   .headertext {
        padding: 0;
    }

    .cards {
        margin: 2% 2%;
        align-items: center;
    }

    .front-end {
        min-height: 150px;
        flex: 1 1 100%;
    }

    nav {
        font-size:75%;
        flex-wrap: wrap;
    }
  }